<h1>Campaign Finances</h1>

<%= form_with url: campaign_finances_path, method: :get, local: true do |form| %>
  <div>
    <%= form.label :cycle, 'Election Cycle' %>
    <%= form.select :cycle, options_for_select((1996..2023).step(2).map { |y| [y, y] }, selected: params[:cycle]) %>
  </div>

  <div>
    <%= form.label :category, 'Financial Category' %>
    <%= form.select :category, options_for_select([
      ['Candidate Loan', 'candidate-loan'],
      ['Contribution Total', 'contribution-total'],
    ], selected: params[:category]) %>
  </div>

  <%= form.submit 'Search' %>
<% end %>
 
<% if @candidates.present? %>
  <h2>Search Results</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Party</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <% @candidates["results"].each do |candidate| %>
        <tr>  
          <td><%= candidate["name"] %></td>
          <td><%= candidate["party"] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
